.cabinet {
	&__head {
		height: 170px;
		background-color: #282828;
	}
	&--signout {
		float: right;
		position: relative;
		top: 138px;
		bottom: 15px;
		right: 0;
		font-family: $cir;
		font-size: 9px;
		text-transform: uppercase;
		color: #B0BEC5;		
		text-decoration: none;
		i {
			font-size: 18px;
			margin-left: 5px;
			vertical-align: middle;
		}
		&:hover, &:active, &:focus {
			color: #FF4E41;
			text-decoration: none;
		}
	}
	&__content {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		padding: 20px 0;
		background-color: #DBDBDB;
	}
	&__sidebar {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		padding: 15px 0;
		background-color: #333;
		&--head {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			@include inside-pad;
			padding: 0 25px;
			
		}
		&--avatar {
			width: 57px;
			height: 57px;
			display: block;
			float: left;
			@include border-radius(29px);
			@include background-clip(padding-box);
			background-color: #fff;
			@include overflow-img;
			img {
				max-width: 150%;
			}
		}
		&--name {
			display: block;
			float: left;
			h4 {
				color: #fff;
				font-size: 21px;
			}
			p {
				color: #9B9B9B;
				font-size: 13px;
			}
		}
	}
}