.cabinet {
	&__head {
		height: 170px;
		background-color: #282828;
	}
	&--signout {
		float: right;
		position: relative;
		top: 138px;
		bottom: 15px;
		right: 0;
		font-family: $cir;
		font-size: 9px;
		text-transform: uppercase;
		color: #B0BEC5;		
		text-decoration: none;
		i {
			font-size: 18px;
			margin-left: 5px;
			vertical-align: middle;
		}
		&:hover, &:active, &:focus {
			color: #FF4E41;
			text-decoration: none;
		}
	}
	&__content {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		padding: 20px 0;
		background-color: #DBDBDB;
	}
	&__sidebar {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		padding: 15px 0;
		background-color: #282828;
		&--head {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			@include inside-pad;
			padding: 0 25px 15px;
			
		}
		&--avatar {
			width: 57px;
			height: 57px;
			display: block;
			float: left;
			margin-top: 15px;
			@include border-radius(29px);
			@include background-clip(padding-box);
			background-color: #fff;
			@include overflow-img;
			img {
				max-width: 150%;
			}
		}
		&--name {
			display: block;
			float: left;
			width: 70%;
			margin-left: 5%;
			h4 {
				color: #fff;
				font-size: 21px;
			    margin: 5px 0px;
			}
			p {
				color: #9B9B9B;
				font-size: 13px;
				padding: 0;
			}
		}
		&--menu {
			display: block;
			float: left;
			position: relative;
			background-color: #333;
			padding: 0;
			width: 100%;
			li {
				position: relative;
				a {
					display: block;
					position: relative;
					color: #b0bec5;
					font-size: 15px;
					padding: 15px 35px;
					width: 100%;
					-webkit-box-sizing: border-box;
					   -moz-box-sizing: border-box;
					        box-sizing: border-box;
					text-decoration: none;
					i {
						margin-right: 15px;
					}
					&:hover, &:active, &:focus, &:checked {
						background-color: #484848;
					}					
					&:before {
						content: none;
						width: 4px;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background-color: $red;
					}
					&:focus,&:checked {
						&:before {
							content: "";
						}
					}
				}	
				
			}
			ul {
				display: none;
				padding: 0;
				width: 100%;
				li {
					position: relative;
					a {
						display: block;
						position: relative;
						color: #b0bec5;
						font-size: 15px;
						padding: 15px 35px;
						width: 100%;
						-webkit-box-sizing: border-box;
						   -moz-box-sizing: border-box;
						        box-sizing: border-box;
						text-decoration: none;					
						&:hover, &:active, &:focus, &:checked {
							background-color: #484848;
						}	
						&:before {
							content: "";
						}					
					}

					
				}
			}
		}
		&--searchhit {
			display: block;
			float: left;
			width: 100%;
			a {
				display: block;	
				width: 80%;
				margin: 50px auto;
				border: 10px solid $red;
				text-align: center;
				font-family: $cir;
				font-size: 18px;
				height: 67px;
				line-height: 47px;
				color: #CDCFB9;
				text-decoration: none;
				@include transition(.3s);
				&:hover, &:active, &:focus {
					background-color: $red;
					text-decoration: none;
				}
			}
		}
	}
	&__processes {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		height: 90px;
		background-color: #FFF;
		-webkit-box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.3);
		        box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.3);
		&--icon {
			display: block;
			float: left;
			width: 25%;
			height: 100%;
			background-repeat: no-repeat;
			-webkit-background-size:  initial;
			     -o-background-size:  initial;
			        background-size:  initial;
			background-position: 50%;
		}
		&--title {
			display: block;
			float: left;
			position: relative;
			width: 75%;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding-left: 25px;
			h4 {
				font-size: 13px;
				margin: 0;
				margin-top: 30px;
				text-transform: uppercase;
			}
			h3 {
				font-size: 18px;
				font-weight: 700;
				color: #2F3B4C;
				margin-top: 0;
			}
		}
	}
	&__forwarding {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		&--mastering {
			display: block;
			float: left;
			position: relative;
			margin-bottom: 15px;
			height: 190px;
			width: 100%;
			background-color: #FF8761;
			color: #FFF;
			text-align: center;
			text-transform: uppercase;
			font-size: 19px;
			background-image: url('../img/cloud.png');
			background-repeat: no-repeat;
			background-position: 50% 75%;
			line-height: 20px;
			padding-top: 35px;
			@include transition(.3s);
			text-decoration: none;
			&:hover {
				background-color: darken(#FF8761, 15%);
				text-decoration: none;
				color: #fff;
			}
		}
		&--reduction {
			@extend .cabinet__forwarding--mastering;
			background-color: #57BDDE;			
			&:hover {
				text-decoration: none;
				color: #fff;
				background-color: darken(#57BDDE, 15%);
			}
		}
		&--instructions {
			color: #000;
			font-size: 15px;
			&:hover {
				color: #000;
			}
		}
	}
	&__board {
		display: block;
		float: left;
		width: 100%;
		margin: 15px 0;
		background-color: #FFF;
		-webkit-box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.3);
		        box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.3);
		&__item {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding: 10px 20px 20px;
			border-bottom: 1px solid #EAEAEA;
			&--head {
				display: block;
				float: left;
				width: 100%;
				margin-bottom: 10px;
				small {
					font-size: 9px;
					color: #5B5F62;
					text-transform: uppercase;
					font-weight: 700;
					margin-right: 10px;
				}
			}
			&--percentage {
				display: inline-block;
				font-family: $os;
				font-size: 19px;
				color: #FFF;
				padding: 5px 10px;
				background-color: #FF503F;
				@include border-radius(5px);
				margin-right: 10px;
			}
			&--title {
				display: inline-block;
				h3 {
					font-size: 18px;
					font-family: $os;
					font-weight: 700;
					color: #264F6F;
					margin: 0;
				}
			}
			&--controls {
				display: inline-block;
				float: right;
			    margin-top: 5px;
				&--type {
					display: block;
					float: left;
					height: 29px;
					padding: 0 10px;
					font-family: $os;
					font-weight: 700;
					font-size: 11px;
					color: #2F3E4A;
					border: 1px solid #CFCFCF;
					@include border-radius(13px);
					margin-right: 10px;
					line-height: 27px;
				}
				&--dropbtn {
					display: block;
					float: left;
					text-align: center;
					height: 29px;
					width: 29px;
					line-height: 29px;
					font-size: 16px;
					border: 1px solid #CFCFCF;
					@include border-radius(50%);
					color: #2F3E4A;
					text-decoration: none;
				}
			}
			&--open {
				display: block;
				float: left;
				width: 100%;
			}
			&--comment {
				display: block;
				float: left;
				width: 100%;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				padding: 0 10%;
				&--reply {
					font-size: 9px;
					color: #2F3E4A;
					padding: 5px;
					@include border-radius(7px);
					border: 1px solid #CFCFCF;
					text-transform: uppercase;
					text-decoration: none;
					@include transition(.3s);
					&:hover, &:active, &:focus {
						background-color: #CFCFCF;
						color: #fff;
						text-decoration: none;
					}
					p {
						font-size: 13px;
						color: #333;
					}
				}
				&--text {
					display: block;
					float: left;
					width: 100%;
					height: 85px;
					border: 1px solid #c6c6c6;
					@include border-radius(6px);
					margin-bottom: 10px;
					resize: none;
					outline: none;
				}
			}
			
		}
		.from-admin {
			.cabinet__board__item--comment {
				background-image: url('../img/ICON.png');
				background-repeat: no-repeat;
				background-position: 99% 15px;
			}
			&:before {
				content: "";
				width: 4px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #CB0000;
			}	
		}
		.from-user {
			.cabinet__board__item--comment {
				background-image: none;
			}
			p {
				font-style: italic;
				color: #7B7B7B;
			}
			&:before {
				content: "";
				width: 4px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #c08e8e;
			}
		}
		.dropping {
			&:before {
				content: "";
				width: 4px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #CB0000;
			}
		}
	}
}

.mastering {
	.cabinet__processes--icon {
		background-color: #FF8761;
		background-image: url('../img/mastering.png');		
	}
	.cabinet__processes--title {
		h4 {
			color: #FF8761;
		}
	}
}

.reduction {
	.cabinet__processes--icon {
		background-color: #57BDDE;
		background-image: url('../img/reduction.png');		
	}
	.cabinet__processes--title {
		h4 {
			color: #57BDDE;
		}
	}
}