.news-page {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 230px 0 55px;
	background-color: #232323;
	&--head {
		@extend .contacts__head--text;	
		position: relative;
		bottom: 0;
	    margin-bottom: 25px;
		h3 {
			margin-bottom: 40px;
		}	
	}
	&--social {
		@extend .team-carousel__item--social;
		margin: 15px 0;
		a {
			color: #FFF;
			&:hover {
				text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
				color: #FFF;
			}
		}
	}
	&__item {
		display: block;
		float: left;
		width: 100%;
		margin: 15px 0 25px;
		&--img {
			width: 100%;
			display: block;
			height: 370px;
			margin: 15px 0;
			@include overflow-img;
		}
		&--description {
			border-top: 6px solid #EF233C;
			color: #EDF2F4;
			margin: 15px 0;
			position: relative;
			height: 370px;
			h3 {
				text-transform: uppercase;
				font-size: 42px;
				margin-bottom: 25px;
				font-family: $mont;
			}
			p {
				font-size: 18px;
				font-family: $os;
				margin: 20px 0;
			}		
			a.news--read {
				position: absolute;
				bottom: 0;
			}
		}
		&--first {
			display: block;
			float: left;
			width: 100%;
			color: #EDF2F4;			
			&--img {
				width: 100%;
				display: block;
				height: 370px;
				@include overflow-img;
				margin-bottom: 25px;
			}
			h3 {
				text-transform: uppercase;
				font-size: 32px;
				margin-bottom: 25px;
				font-family: $mont;
			}
			p {
				font-size: 18px;
				font-family: $os;
			}			
		}		
	}
}

small.news__author {
	font-size: 12px;
	color: #8D99AE;
	a {
		color: #fff;
		text-decoration: underline;
		padding-bottom: 5px;
	}
	span {
		color: #fff;
	}
}

a.news--read {
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 10px 25px;
	background-color: #EF233C;
	font-size: 18px;
	float: left;
	&:hover {
		background-color: $red;
	}
}

.news__post--mediabox {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	height: 460px;
	background-image: url('../img/IMAGE-PLACEHOLDER.jpg');
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: 35px;
	padding: 35px;
	color: #FFF;
	@include inside-pad;
	&:before {
		content: '';
		display: block;
		position: absolute;
		height: 6px;
		width: 100%;
		background-color: #EF233C;
		top: -20px;
		left: 0;
	}
	h3 {
		font-size: 18px;
		font-family: $mont;
	}
	p {
		font-size: 12px;
		font-family: $os;
	}
	a {
		font-size: 12px;
		color: #8D99AE;
		text-decoration: none;
		i {
			margin-right: 10px;
		}
		&:hover {
			text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
		}
	}
}