$red: #cb0000;

@media (min-width: 1366px) {
  .container {
    width: 1300px;
  }
}

body {
	font-family: $cir;
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.block_title {
	color: #fff;
    font-size: 3.5em;
	text-align: center;
	margin-top: 15px;	
}

.p0  {
	padding: 0;
}

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

.skew-wrap {
	@include skew-min;
}

.img-skew-wrap {
	-webkit-transform: skewX(15deg);
	   -moz-transform: skewX(15deg);
	    -ms-transform: skewX(15deg);
	     -o-transform: skewX(15deg);
	        transform: skewX(15deg);
    display: block;
    position: absolute;
    height: 325px;
    left: -15%;
}





