.hamburger-slim {
  background: transparent;
  /* margin: 60px auto 40px; */
  position: relative;
  height: 30px;
  width: 50px;
  display: none;
  //display: block;
  float: right;
  top: 10px;
  right: 15px;
  z-index: 99;
  &:before,
  &:after {
    background: $red;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 50px;
  }
  &:before {
    box-shadow: $red 0 14px 0 0;
    position: absolute;
    top: 0;
  }
  &:after {
    position: absolute;
    top: 28px;
  }
  &--active {
    @include skew-def;
    &:before {
      box-shadow: transparent 0 0 0 0;
      top: 15px;
      transform: rotate(225deg);
    }
    &:after {  
      top: 15px;
      transform: rotate(315deg);
    }
  }
}

.news {
  .slick-slide {
    margin-bottom: 0;
  }
  .slick-prev, .slick-next {
    width: 60px;
    height: 60px;
    background-color: #464D4B;
    top: -30px;
    left: -105px; 
    margin-top: 0;   
    &:hover {
      background-color: #AFA376;
    }
     &:before {
      content: "";
      background-repeat: no-repeat;
      background-position: 50% 50%;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .slick-prev {
    top: 30px;
    &:before {
      background-image: url('../img/Down.png');
    }
  }
  .slick-next {
    &:before {
      background-image: url('../img/up.png');
    }
  }
}

.social-network {
.slick-slider {
  margin-bottom: 0;
}
 .slider-item-slider {
  width: 100%; 
  height: 300px; 
  position: relative;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0); 
  position: relative;overflow: hidden;
  margin-bottom: 0;
  .slick-slider-item {
    outline: none; 
    width: 300px !important;
    height: 300px !important;
    @include overflow-img;
    img {
      width: auto;
      max-width: 100%;
    }
  }
 }
.slider-thumb-slider .slick-slider-item { padding: 5px; }
.slider-thumb-slider .slick-active img { outline: 2px solid transparent; }

.slider-thumb-slider {
  .slick-slider-item {
    outline: none; 
    width: 100px !important;
    height: 100px !important;
    @include overflow-img;
    img {
      width: auto;
      max-width: 100%;
    }
  }
  .slick-prev, .slick-next {
    width: 33px;
    height: 54px;
    margin-top: -27px;   
    &:hover {}
     &:before {
      content: "";
      background-repeat: no-repeat;
      background-position: 50% 50%;
      display: block;
      -webkit-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
      width: 100%;
      height: 100%;
    }
  }
  .slick-prev {
    z-index: 9;
    left: 10px;
    &:before {
      background-image: url('../img/insta-prev.png');
    }
  }
  .slick-next {
    right: 10px;
    &:before {
      background-image: url('../img/insta-next.png');
    }
  }
}
.slick-slider-item.slick-slide.slick-active { 
   outline: none; 
}

.slick-slider { margin-bottom: 0px; }

}

.stars-slider {
  .slick-slide {
    height: 170px;
    margin-bottom: 0;
  }
  .slick-slider { margin-bottom: 0px; }
  .slick-prev, .slick-next {
    width: 33px;
    height: 54px;
    margin-top: -27px;
    &:hover {
    }
     &:before {
      content: "";
      background-repeat: no-repeat;     
      background-image: url('../img/stars-arrows.png');
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .slick-prev {
    left: -43px; 
    &:before {
      background-position: -2px 0;
    }
    &:hover {
      &:before {
        background-position: -36px 0;
      }
    }
  }
  .slick-next {
    right: -43px;
    &:before {      
      background-position: -96px 0;
    }
    &:hover {
      &:before {
        background-position: -65px 0;
      }
    }
  }
}

#slider-canvas, #more-links-canvas {
  display: block;
  position: absolute;
  z-index: 0;
}

.team-carousel {
  .slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    margin-top: -50px;
    z-index: 8;  
    background-color: #EF233C;
    -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
    &:hover {
      background-color: $red;
    }
     &:before {
      content: "";
      -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .slick-prev {    
    left: -20px;
    &:before {
      background-image: url('../img/Rectangle1.png');
    }
  }
  .slick-next {
    right: -23px;
    &:before {
      background-image: url('../img/Rectangle2.png');
    }
  }
}

.news-page {
  .pagination>li>a, .pagination>li>span {
      padding: 10px 16px;
      width: 40px;
      height: 40px;
      text-align: center;
      margin-left: -1px;
      color: #fff;
      text-decoration: none;
      background-color: #333538;
      border: none;
      margin-right: 5px;
  }

  .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #FFF;
    background-color: #EF233C;
  }

  .pagination>li:last-child>a, .pagination>li:last-child>span, .pagination>li:first-child>a, .pagination>li:first-child>span {
    -webkit-border-radius: 0;
            border-radius: 0;
    padding: 10px 12px;
  }

  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
     color: #FFF;
    background-color: #EF233C;
    border: none;
  }
}